@font-face {
  font-family: 'Poppin-SemiBold';
  src: url('resources/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppin-Regular';
  src: url('resources/Poppins/Poppins-Regular.ttf') format('truetype');
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-family: 'Poppin-Regular', sans-serif;
  color: #394150;
}

header {
  margin-top: 80px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > h1 {
  font-family: 'Poppin-SemiBold', sans-serif;
  font-size: 48px;
  margin: 16px 0px;
}

header > p {
  font-family: 'Poppin-Regular', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #6c727f;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 24px;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.03),
    0px 8px 12px 0px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}

button,
input {
  width: 505px;
  height: 60px;
  font-size: 16px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
}

#subscribeBtn {
  background-color: #284bce;
  color: white;
}

#emailInput {
  background-color: #f9fafb;
  text-align: center;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}

@media (max-width: 640px) {
  header > h1 {
    font-size: 32px;
  }

  header > p {
    font-size: 16px;
  }
}
